header{
  background-color: rgba(137, 43, 226, 0.151);
padding: 20px 5px;
}

img{
width: 50px;
color: white;
}

nav{
  /* position: fixed; (no queda fijo en la pagina) */
  position: absolute;
  top: 2em;
  right: 2em;
}

 /* /LANDPAGE */
 nav a{
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  font-size: 2em;
  /* text-decoration: none; */
 }
body {
  background: #F3F5FC;
  font-family: 'Merriweather', serif;
}

/* parte de arriba con codigos verdes */
.caja{
  background-image: url("../imag/berta.gif");;
 width: 100%;
  position: relative;
  margin: 0 auto;
}

h1{
  border-radius: 5px;
  color: black;
   text-align: center;
  font-size: 2em;
  /* margin: 0 0 0; */
  text-shadow:  0.5px 0.5px 15px red;
 
}


/* <!-- PARTE PARA CREAR EL css DEL INCRIPTADOR --> */

/* 1 */
#aviso {
    margin: 20px;
    display: flex;
    justify-content: center;
    user-select: none;
    color: red;
}
/* 2 */
#txt {
    display: grid;
    grid-template-columns:1fr 4fr 4fr 1fr;
    text-align: center;
}
/* 3 */
.txts {
    width: 90%;
    height: 100%;
    margin-bottom: 30px;
    resize: none;
    color: black;
    outline: none;
    background-image: url("../imag/boneco.svg");
    background-color: transparentred;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 5px;
}



#botoes{
    text-align: center;  
}


.btns { 
    background-color: #576867;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;  
    margin-top: 20px;
    margin-bottom: 20px;
}
.btns:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* hr {
    max-width: 70%;
    margin-top: 50px;
} */


#alerta {
    display: flex;
    color: #576867;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
#alerta1 {
    display: flex;
     align-items: center;
     justify-content: center;
}
#alerta2 {
    display: flex;
    align-items: center;
    justify-content: center;
}



#shareV {
    color: #576867;
}
.corBranca {
    color: #ffffff;
}

.tudo{
display: contents;
}

footer{
  background-image: url(../imag/bd7a10a15f2f5f8eada8b5d61e72763b.gif);
  /* padding: 100px; */
 
}
#txtTec{
  /*  estilo de esta parte  (Tecnólogias utilizadas neste desafio)
*/
font-size: 40px;
}

/*  mobili.css. parte de (HTML. JavaScript, CSS */

#barraSuperior {
   padding: 12px;
}
#titulo {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
#aviso {
    margin: 5px;
}
#txt {
    display: block;
}
.txts {
    width: 90%;
    margin-bottom: 10px;
}
#botoes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 0px 20px 0px;
    margin-bottom: 20px;
}
.btns { 
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
}
hr {
    margin-top: 20px;
}
#alerta {
    margin-top: 0px;
    margin-bottom: 0px;
}
#alerta2 {
    display: none;
}
#txtTec {
    padding: 20px;
} 
 #tecs {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color: #576867;
    padding: 0px 0px 20px;
} 
 #meusLinks {
    padding: 15px;
}





